* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5rem;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

body > * {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.4em;
    text-transform: uppercase;
}

body > header,
body > footer {
    flex: 1 0 100%;
}

body > main {
    flex: 1 0 60%;
}

body > aside {
    flex: 1 1 auto;
}

body > main,
body > aside {
    min-height: 300px;
}

body > header,
body > footer {
    min-height: 100px;
}
