html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, sans-serif;
    font-weight: normal;
    margin: 10px 0;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: #cccccc;
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

th, td {
    border: 1px solid #dfdfdf;
}

blockquote {
    border-left: 5px solid rgb(221, 221, 221);
    font-style: italic;
    padding-left: 20px;
    margin-left: 25px;
}

.author{
    text-align: right;
}

ul {
    list-style: square;
}

ul ul {
    list-style: disc;
}

ul ul ul {
    list-style: circle;
}

hr {
    margin: 25px 0;
}