* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

html {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: normal;
    padding-bottom: 1em;
}

section {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    gap: 2em;
}